<div class="classes-container">

  <header class="section-header">
    <div class="welcome-text">
      <h1>Mis Clases</h1>
      <p>Administra tu agenda académica</p>
    </div>
    <button class="btn-create" (click)="openCreateModal()">+ Nueva Clase</button>
  </header>

  <div *ngIf="loading" class="loading-state">
    <p>Cargando información...</p>
  </div>

  <div *ngIf="!loading" class="cards-grid">

    <article *ngFor="let clase of clases" class="class-card">
      <div class="class-header">
        <span class="id-badge">ID: {{ clase.id }}</span>

        <span class="class-badge" [class.active]="clase.isActive !== false">
          {{ clase.isActive !== false ? 'Activa' : 'Inactiva' }}
        </span>
      </div>

      <div class="class-header">
         <span class="class-date">
            📅 {{ clase.classDate | date:'mediumDate' }}
         </span>
      </div>

      <h3 class="class-title">{{ clase.title }}</h3>
      <p class="class-desc">{{ clase.description }}</p>

      <div class="class-stats">
        <span>Cupo: {{ clase.capacityPerSlot }}</span>
      </div>

      <div class="card-actions">
        <button class="btn-action secondary" (click)="openEditModal(clase)">✏️ Editar</button>
        <button class="btn-action delete" (click)="onDeleteClass(clase.id)">🗑️ Eliminar</button>
      </div>
    </article>

    <div *ngIf="clases.length === 0" class="empty-state">
      <p>No tienes clases registradas.</p>
    </div>
  </div>

  <div class="modal-overlay" *ngIf="isEditModalOpen">
    <div class="modal-box">

      <div class="modal-header">
        <h2>{{ editingClass.id ? 'Editar Clase #' + editingClass.id : 'Nueva Clase' }}</h2>
        <button class="close-btn" (click)="closeEditModal()">×</button>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="saveClassChanges()">

          <div class="form-group">
            <label>Título de la clase</label>
            <input type="text" [(ngModel)]="editingClass.title" name="title" placeholder="Ej: Cálculo Integral - Repaso"
                   required>
          </div>

          <div class="form-group">
            <label>Especialidad (Materia)</label>

            <select
              class="form-select"
              [(ngModel)]="editingClass.specialtyId"
              name="specialtyId"
              required>

              <option [ngValue]="undefined" disabled>Selecciona una opción...</option>

              <option *ngFor="let s of specialtiesList" [value]="s.id">
                {{ s.name }}
              </option>

            </select>
          </div>

          <div class="form-group">
            <label>Descripción</label>
            <textarea [(ngModel)]="editingClass.description" name="description" rows="3"
                      placeholder="Temas a tratar..."></textarea>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label>Fecha</label>
              <input type="date" [(ngModel)]="editingClass.classDate" name="classDate" required>
            </div>

            <div class="form-group">
              <label>Cupo de alumnos</label>
              <input type="number" [(ngModel)]="editingClass.capacityPerSlot" name="capacity" required>
            </div>
          </div>

          <div class="form-group checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="editingClass.isActive" name="isActive">
              Clase Activa (Visible)
            </label>
          </div>

          <div class="modal-actions">
            <button type="button" class="btn-cancel" (click)="closeEditModal()">Cancelar</button>
            <button type="submit" class="btn-save">
              {{ editingClass.id ? 'Guardar Cambios' : 'Crear Clase' }}
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>

</div>
