<nav class="navbar" aria-label="Primary">
  <div class="navbar__logo">
    <img src="/agora_icon.svg" alt="Ágora Logo" class="logo" />
  </div>

  <ul class="navbar__links">
    <li><a routerLink="/">Producto</a></li>
    <li><a routerLink="/preguntas">Preguntas</a></li>
    <li><a routerLink="/sobre">Sobre nosotros</a></li>
  </ul>

  <div class="navbar__actions">
    <a class="btn btn--login" routerLink="/auth/login">Login</a>
    <a class="btn btn--signup" routerLink="/auth/registro">Sign up</a>
  </div>
</nav>

<main class="hero">
  <div class="hero__inner">
    <div class="text">
      <p>
        Enseña lo que sabes.<br />
        Aprende lo que <br />
        quieras.
      </p>

      <div class="lead">
        <p>
          Una comunidad donde alumnos y <br />
          tutores se conectan sin <br />
          intermediarios, de manera gratuita <br />
          y flexible.
        </p>
      </div>
    </div>

    <figure class="hero__media">
      
      <img
        src="/assets/Maestra_AGORA 1.png"
        alt="Estudiante con carpeta"
        loading="lazy"
        decoding="async"
      />
    </figure>
  </div>

  <div class="frame">
    <div class="frame-one">Empieza ahora</div>
  </div>

  <div class="text">
    <p>¿Qué nos diferencía?</p>
  </div>
  <p class="lead">Estas son algunas razones por las que te conviene ser parte de la comunidad de Agora.</p>
</main>
